readerease-sentence {
	background-color: inherit !important;
}

.sentenceClass {
	border-radius: 3px;
}

.persistentHighlight.persistentHighlight {
	background-color: #FEE715 !important; /* Bright yellow */
}

/* SENTENCE TRACKER STYLING */
.sentenceStyleOn {
	position: relative;
	background-color:rgb(255, 255, 255) !important;  /* White */
	box-shadow: 2pt 2pt 3pt 1pt rgb(0, 0, 0, 0.45); /* Transparent black */
	transition: all 0.5s ease 0s;
}
.sentenceStyleOff {
	background-color:rgba(255, 255, 255, 0); /* Transparent */
	transition: all 0.5s ease 0s;
}
.keyWordLight {
	background-color: rgb(255, 248, 185); /* Light yellow */
	transition: all 0.5s ease 0s;
}
.keyWordBright {
	background-color: hsl(54, 99%, 54%); /* Bright yellow */
	transition: all 0.5s ease 0s;
}
.keyWordOff {
	background-color: rgba(255, 255, 255, 0); /* Transparent */
	transition: all 0.5s ease 0s;
}
/* END */


/* READING TIMER DISPLAY STYLING */
#readingDisplayContainer {
	position: fixed; 
	top: 2%;
	left: 45%;
	width: 10%;
	opacity: 0;
	transition: all 2s ease 0s;
	z-index: 1000;
}
#timerContainer {
	width: 100%;
	box-shadow: 0pt 1pt 1pt 1pt rgba(104, 104, 104, 0.801); /* Transparent gray */
	background-color: rgba(255, 255, 255, 0.95); /* Transparent white */
	border-radius: 5px;
}
#speedContainer {
	display: none;
	margin: 0 auto;
	margin-top: 5%;
	width: 75%;
	transition: all 0.5 ease;
	border-radius: 5px;
	box-shadow: 0pt 1pt 1pt 1pt rgba(104, 104, 104, 0.801); /* Transparent gray */
	background-color: rgba(255, 255, 255, 0.95); /* Transparent white */
}
#timerInsideContainer {
	width: 100%;
	color: #3f3f3f;
	text-align: center;
	letter-spacing: 1px;
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px 5px 15% 15%;
}
#timerNumber {
	transition: all 0.5s ease 0s;
}
#speedNumber {
	transition: all 0.5s ease 0s;
}
#speedInsideContainer {
	padding: 2px 0px;
	margin: 0 auto;
	width: 100%;
	background-color: rgba(119, 163, 235, 0.15); /* Light blue */
	color: #162341;
	text-align: center;
	letter-spacing: 1px;
	font-size: 60%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
#optionsButton {
	position: fixed; 
	top: 2%;
	left: 56%;
	width: 18px;
	height: 18px;
	transition: transform 2s ease 0s;
	z-index: 1000;
  	background-repeat: no-repeat !important; 
}
#optionsButton svg {
	width: 100%;
	height: 100%;
}
#optionsButton:hover {
	cursor: pointer !important;
	transform: rotate(180deg);
}
#optionsButton:hover svg g g #gear {
	fill: #77a3eb !important; /* "HTML Link Blue" */
	transition: all 0.5s ease;
	stroke: #77a3eb; /* "HTML Link Blue" */
	stroke-width: 5px;
}
#gear {
	fill: rgb(128, 128, 128) !important; /* Gray */
	transition: all 0.5s ease;
	stroke-width: 0px;
}
#gear:hover {
	transition: all 0.5 ease;
}

/* UI DISPLAY STYLING */
#uiContainer {
	width: 20%;
	position: fixed;
	z-index: 10002;
	top: 2%;
	right: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}
#closeButton {
	position: absolute;
	top: 5px;
	left: -40px;
	transition: all 0.5s ease;
	width: 10px;
	height: 10px;
	opacity: 0.5;
	background-position: center center;
	background-size: 80%;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.95); /* Transparent white */
	box-shadow: 0 0 1pt 1pt black;
	padding: 10px;
	border-radius: 15px;
}
#closeButton:hover {
	transform: rotate(90deg);
	opacity: 0.75;
	cursor: pointer;
	/* box-shadow: 0 0 2pt 1pt black; */
}
#uiSections {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
#customizeContainer {
	margin: 0 auto;
	padding: 5%;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(252, 252, 252, 0.95); /* Transparent white */
	border-radius: 15px;
	margin-bottom: 5%;
	box-shadow: 0px 2px 3pt 2px rgb(0, 0, 0, 0.5); /* Transparent black */
}
#keywordsTitle {
	position: relative;
	font-size: 80%;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	font-family: 'Montserrat';
	border: 1px solid #afafaf96;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 2px;

}
#collapseIcon {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 7.5%;
	height: 7.5%;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s ease;
}
#collapseIcon:hover {
	transform: scale(1.3);
	cursor: pointer;
}
#keywordsOptions {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 4%;
}
.keywordsButton {
	padding: 3px;
	border: 0px solid #6464649a;
	border-radius: 5px;
	width: 25%;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 75%;
	transition: all 0.5s ease, font-weight 0s ease;
	opacity: 0.75;
	box-shadow: 0pt 0.5pt 0.5pt 0.5pt rgb(0, 0, 0, 0.35); /* Transparent black */
}
.keywordsButton:hover {
	cursor: pointer !important;
	opacity: 1 !important;
	transform: scale(1.02) !important;
	box-shadow: 0pt 1pt 1pt 1pt rgb(0, 0, 0, 0.5) !important; /* Transparent black */
}
#buttonKeywordLight {
	background-color: rgb(255, 248, 185); /* Light yellow */
}
#buttonKeywordBright {
	background-color: rgb(254, 231, 22);  /* Bright yellow */
}
#buttonKeywordOff {
	background-color: #ffffff;
}
#instructionsContainer {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	width: 110%;
	background-color: rgba(252, 252, 252, 0.95); /* Transparent white */
	border-radius: 15px;
	margin-bottom: 5%;
	box-shadow: 0px 2px 3pt 2px rgb(0, 0, 0, 0.5);  /* Transparent black */
}
#instructionsTitle {
	position: relative;
	font-size: 80%;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-family: 'Montserrat';
	border: 1px solid #afafaf96; /* Light gray */
	border-width: 0px 0px 1px 0px;
	padding-bottom: 2px;
}

#instructionsSection {
	display: flex;
	flex-direction: column;
}
.instructionsName {
	font-family: 'Montserrat';
	font-weight: 700;
	text-align: center;
	font-size: 70%;
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 2%;
}
#instructionsGraphicOnOff, #instructionsGraphicMove, #instructionsGraphicSentenceHop, 
#instructionsGraphicAutoRead, #instructionsGraphicSpeed, #instructionsGraphicHighlight, 
#instructionsGraphicKeywordToggle {
	margin: 0 auto;
	height: 25px;
	width: 100px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s ease;
}
#instructionsGraphicSentenceHop {
	width: 20%;
}
#instructionGroupOne, #instructionGroupTwo, #instructionGroupThree, #instructionGroupFour {
	box-shadow: 0pt 2pt 2pt 1pt rgba(0, 0, 0, 0.2); /* Transparent black */
	padding-bottom: 5%;
}
#instructionGroupOne, #instructionGroupThree {
	background-color: rgb(235, 235, 235, 0.9); /* Transparent light gray/white */
}
#instructionGroupTwo, #instructionGroupFour {
	background-color: rgba(215, 215, 215, 0.9); /* Transparent medium gray/white */
}
#instructionGroupFour {
	border-width: 0px;
	border-radius: 0px 0px 15px 15px;
}

/* LOADING ICON */
#loadingIcon {
	position: fixed; 
	top: 2%;
	left: 50%;
	right: 50%;
	width: 25px;
	height: 25px;
	display: none;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	animation: infiniteRotate 2s linear infinite;
}
@keyframes infiniteRotate {
	0%   {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}


/* CSS FONTS */

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}