mark {
}
.markedYellow {
	background-color:yellow!important;
}
.markedBlue {
	background-color:#c9daf8 !important; /* Same shade of blue as when normally highlight in browser */
}
.markedLightBlue {	
	background-color:#e6effd !important; /* Lighter blue */
}
.markedBoxShadow {
	/* ACTIVE */
	background-color:#e6effd !important; /* Lighter blue */
	box-shadow: 0pt 0pt 3pt 1pt #00dcff; /* Box shadow with vibrant blue */
}