.highlighted {
	color: #017f92;
}

mark {
	background-color:#c9daf8 !important;
	background: #c9daf8 !important;
	transition: all 0.5s ease 0.5s !important;
}
.marked {
	background: #c9daf8 !important;
}