.highlighted {
	/* font-weight: bolder; */
	/* background-color:#FFFF00; */
	color: #017f92;
}

mark{
    /* background: orange;
	color: black; */
	/* font-weight: bolder; */
	background-color:#d4b500;
	/* color: #017f92 !important; */
	/* background: none !important; */
	/* background-color: none !important; */
}