/* For getting height and spacing correct */
html, 
body {height:100%; padding:0; margin:0; width:100%;}
body {display:flex; flex-direction:column;}
#main {flex-grow:1;}

/* Background */
html { 
    background: url("./assets/background_graphic.svg") no-repeat center center fixed; 
}
body {
    background-color: #0f131c;
}

/* Different Types of Text */
.text {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
}
#blueText {
    color: #00dcff;
}

/* General Styles */
#main {
    background: linear-gradient(rgba(255, 0, 0, 0) 70%, rgba(29, 46, 203, 0.048)), url("./assets/background_graphic.svg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title {
    font-size: 80pt;
    margin: 0 auto;
    margin-top: 3%;
    text-shadow: 0px 0px 10px rgb(0, 220, 255),
            0px 15px 15px #000000,
            0px 15px 15px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}



#demoContainer {
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 50px;
    border: 1px solid rgba(0,220,255,1);
    box-shadow: 0pt 0pt 3pt 3pt rgba(0,220,255,0.5);
    transition: all 2s ease 0s;
}

#installButton {
    font-size: 30pt;
    margin: 0 auto;
    padding: 0.5% 3.5%;
    background-color: rgba(0,220,255,0.05);
    border: 1px solid rgba(0,220,255,0.5);
    border: 1px solid #515151;
    box-shadow: 0pt 0pt 1pt 2pt rgba(0,220,255,0.5),
                0px 8px 10px #000000;
    border-radius: 15px;
    transition: all 0.5s ease 0s;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-decoration: none;
}

#installButton:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-color: #00dcff !important;
    box-shadow: 0pt 0pt 8pt 2pt rgba(0,220,255,0.5),
                0px 8px 10px #000000;
}
  
@-webkit-keyframes glow {
    from {
        border-color: rgba(0, 220, 255,0.5);
    }
    to {
        border-color: rgba(0, 220, 255,1);
    }
}
